body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

.buttonContainer {
    width: 75%;
}

.buttonContainer > .buttonClass {
    width: 30%;
    height: 48px;
    font-size: 24px;
}